[Unit]
Description="Chromiumloader"

[Service]
WorkingDirectory=/home/kiosk-user/chromiumloader
ExecStart="/home/kiosk-user/chromiumloader/start.sh"
Restart=always

[Install]
WantedBy=default.target
