[Unit]
Description="Chromiumloader"

[Service]
WorkingDirectory=/home/kiosk-user/chromium-reload
ExecStart="/home/kiosk-user/chromium-reload/start.sh"
Restart=always

[Install]
WantedBy=multi-user.target
